@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Mobile Optimization */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

input, textarea, select {
  font-size: 16px !important; /* منع التكبير التلقائي على iOS */
}
